@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to SofCa(p)tionThis!</h1>
    <p>This is simple app that shows random cat photos.</p>
    <p>Registered users can add captions to photos and save those photos in json file on their computer.</p>
</div>
